@use 'sass:map';
@import '../utils/variables.scss';
@import '../utils/mixins.scss';

.contactInfoContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	@include banner;
	@include textPictureBox;
}
