.FlowerInfo {
	position: relative;
	background-color: white;
	height: 130vh;
	display: flex;
	flex-direction: column;
	align-items: center;

	.FlowerInfo-Info {
		position: absolute;
		bottom: 10vh;
		z-index: 3;

		@include width-breakpoint(500) {
			bottom: 5vh;
		}
	}
}
